@font-face {
    font-family: 'SegoeUILight';
    src: url('http://static.squarespace.com/static/50abaaf7e4b09a617638422b/t/50d21b81e4b08b028a4868cf/1355946881950/segoe_ui_light.eot');
    src: local('Segoe UI Light'), local('Segoe UI Light'), url('http://static.squarespace.com/static/50abaaf7e4b09a617638422b/t/50d21b86e4b05f4ba8bed41f/1355946886233/segoe-ui-light.ttf') format('truetype');
}

.iconos2 input[type=text]{
	font-size:12px;
	font-family:'SegoeUILight';
	color:#444;
	width:100%;
	height: 30px;
	border:1px solid  #ccc;
	margin: 5px;
}
.iconos2 input[type=text]:hover,
.iconos2 input[type=password]:hover
{
	color:#444;
	width:100%;
	border:1px solid  #7abee7;
	margin: 5px;
}
.iconos2 textarea{
	background:#fff;
	font-size:12px;
	font-family:'SegoeUILight';
	color:#444;
	width:100%;
	height: 40px;
	border:1px solid  #ccc;
	margin: 5px;
}
.iconos2 textarea:hover{
	color:#444;
	width:100%;
	height: 40px;
	border:1px solid  #7abee7;
	margin: 5px;
}
.iconos2 select{
	background:#fff;
	font-size:12px;
	font-family:'SegoeUILight';
	color:#999;
	width:100%;
	height: 30px;
	border:1px solid  #ccc;
	margin: 5px;
	padding: 5px;
}
.iconos2 select:hover{
	color:#444;
	width:100%;
	height: 30px;
	border:1px solid  #7abee7;
	margin: 5px;
	padding: 5px;
}
.iconos2 input[type=password]{
	background:#fff;
	font-size:12px;
	font-family:'SegoeUILight';
	color:#444;
	width:100%;
	height: 30px;
	border:1px solid  #ccc;
	margin: 5px;
}
.iconos2 input[type=button]{
	background: #007CDE;
	height:30px;
	width:50%;
	margin:5px;
	border: transparent;
	border:1.5px solid #ccc;
	font-size:12px;
	font-family:'SegoeUILight';
	color:#fff;
	font-weight: bold;
}
/* llamando a la imagen completa, y creandole un espacio hacia la izquierda donde
 el texto del placeholder comienza..
 * */
.iconos2 input[type=text],
.iconos2 input[type=password],
.iconos2 input.text,
.iconos2 input.title,
.iconos2 span{
	background-image: url(img/iconos.png);
	background-repeat: no-repeat;
	padding-left:20px;
}
/* Creando las posiciones de cada elemento en cada caja de texto, llamadas por una clase en
 * especifico
 * */
.icon1 { 
background-position:-2px -56px}
.icon2 { 
background-position:-2px -88px}
.icon3{ 
background-position:-2px -171px}
.icon4{ 
background-position:-2px -203px}
.icon5{ 
background-position:-2px -284px}
.icon6{ 
background-position:-0px -316px}
.icon7{ 
background-position:-0px -342px}
.icon8{ 
background-position:-0px -430px}
.icon9{ 
background-position:-0px -512px}
.icon10{ 
background-position:-0px -542px}
.icon11{ 
background-position:-0px -624px}
.icon12{ 
background-position:-0px -656px}
.icon13{ 
background-position:-0px -736px}
.icon14{ 
background-position:-0px -768px}
.icon15{ 
background-position:-0px -851px}
.icon16{ 
background-position:-0px -882px}
.icon17{ 
background-position:-0px -961px}
.icon18{
background-position:-0px -996px}
.icon19{
background-position:-0px -1074px}
.icon20{
background-position:-0px -1106px}
.icon21{
background-position:-0px -1186px}
.icon22{
background-position:-0px -1249px}
.icon23{
background-position:-2px -1299px}
.icon24{
background-position:-0px -1330px}
.icon25{
background-position:-2px -1360px}
.icon26{
background-position:-2px -1443px}
/* hover para cambio de imagen*/
.icon1:hover{ 
background-position:-2px -0px}
.icon2:hover{ 
background-position:-2px -32px}
.icon3:hover{ 
background-position:-2px -115px}
.icon4:hover{ 
background-position:-2px -147px}
.icon5:hover{ 
background-position:-2px -228px}
.icon6:hover{ 
background-position:-0px -260px}
.icon7:hover{ 
background-position:-0px -398px}
.icon8:hover{ 
background-position:-0px -374px}
.icon9:hover{ 
background-position:-0px -456px}
.icon10:hover{ 
background-position:-0px -486px}
.icon11:hover{ 
background-position:-0px -568px}
.icon12:hover{ 
background-position:-0px -600px}
.icon13:hover{ 
background-position:-0px -680px}
.icon14:hover{ 
background-position:-0px -712px}
.icon15:hover{ 
background-position:-0px -795px}
.icon16:hover{ 
background-position:-0px -826px}
.icon17:hover{ 
background-position:-0px -905px}
.icon18:hover{ 
background-position:-0px -940px}
.icon19:hover{
background-position:-0px -1018px}
.icon20:hover{
background-position:-0px -1050px}
.icon21:hover{
background-position:-0px -1130px}
.icon22:hover{
background-position:-0px -1200px}
.icon23:hover{
background-position:-2px -1243px}
.icon24:hover{
background-position:-0px -1274px}
.icon25:hover{
background-position:-2px -1360px}
.icon26:hover{
background-position:-2px -1387px}
			#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
	#estcorp-contactenos{
    background: #fff;
    width: 400px;
    height: 350px;
}
	#estcorp-registrarme{
    background: #fff;
    padding:10px;
    width: 400px;
    height: 350px;
}
h2{
		font-size:17px;
		padding:0px 0px 0px 13px;
		color:#444;
		font-family:'SegoeUILight';
	}