
@charset 'UTF-8';
/* Base Styles */
#cssmenu2 ul,
#cssmenu2 li,
#cssmenu2 a {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1;
  text-decoration: none;
  	text-align: center;
	text-shadow: 0 0px 1px #ccc;
	font-size: 12px;
	font-weight: normal;
	letter-spacing:-0.6px;
}

#pmenu{
    width:972px;
	margin:0 auto 0 auto;
	top: 0px;
	z-index: 1000;
	background:#FE980F; /*#523d8c;*/
  
}
#cssmenu2 {
  text-align:left;
}
#cssmenu2 ul {
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@top-color', endColorstr='@bottom-color', GradientType=0);
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#cssmenu2 ul:before {
  content: '';
  display: block;
}
#cssmenu2 ul:after {
  content: '';
  display: table;
  clear: both;
}
#cssmenu2 li {
  float: right;
  margin: 0 5px 0 0; 
  border: 1px solid transparent;
}
#cssmenu2 li span {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  font-size: 13px;
 	padding: 8px 15px 9px 15px;
}