	
input[name="slider-select-element"] {
display: none;
}
#slider-arrows {
margin: 10% auto 0 auto;
width: 100%;
}
#slider-box {
-moz-animation: autoSlider 15s infinite linear;
-o-animation: autoSlider 15s infinite linear;
-webkit-animation: autoSlider 15s infinite linear;
animation: autoSlider 15s infinite linear;
-webkit-transition: all 0.75s ease;
-moz-transition: all 0.75s ease;
-ms-transition: all 0.75s ease;
-o-transition: all 0.75s ease;
transition: all 0.75s ease;
height: 100%;
width: 300%;
}
#slider-container {
height: 100%;
margin: 0 auto;
overflow: hidden;
text-align: left;
width: 100%;
}
.element-blue,
.element-green,
.element-red {
min-height: 400px;
max-height: 100%;
width: 100%;
}
.element-blue {
background-image: url(img/banner3.jpg);
}
.element-green {
background-image: url(img/banner2.jpg);
}
.element-red {
background-image: url(img/banner1.jpg);
}
.slider-element {
float: left;
width: 33.333%;
}
@-moz-keyframes autoSlider {
0% {
margin-left: 0;
}
30% {
margin-left: 0;
}
35% {
margin-left: -100%;
}
65% {
margin-left: -100%;
}
70% {
margin-left: -200%;
}
95% {
margin-left: -200%;
}
100% {
margin-left: 0;
}
}
@-webkit-keyframes autoSlider {
0% {
margin-left: 0;
}
30% {
margin-left: 0;
}
35% {
margin-left: -100%;
}
65% {
margin-left: -100%;
}
70% {
margin-left: -200%;
}
95% {
margin-left: -200%;
}
100% {
margin-left: 0;
}
}
@keyframes autoSlider {
0% {
margin-left: 0;
}
30% {
margin-left: 0;
}
35% {
margin-left: -100%;
}
65% {
margin-left: -100%;
}
70% {
margin-left: -200%;
}
95% {
margin-left: -200%;
}
100% {
margin-left: 0;
}
}
